*{margin:0;padding:0;box-sizing:border-box;font-family:Poppins,sans-serif}

body.dark{
  background:linear-gradient(120deg,#020617,#1e293b,#0f172a);
  color:white;
}

body.light{
  background:#f5f5f5;
  color:black;
}

.hidden{display:none}

/* AUTH */
.auth-box{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#6366f1,#22d3ee,#38bdf8);
}

.auth-box input, .auth-box button{
  margin:10px;
  padding:10px;
  width:220px;
}

/* NAV */
.navbar{
  position:fixed;
  width:100%;
  top:0;
  backdrop-filter:blur(10px);
  background:rgba(0,0,0,.4);
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
}

.navbar a{color:white;margin:0 10px;text-decoration:none}
.logo span{color:#38bdf8}

/* HERO */
.hero{
  height:100vh;
  text-align:center;
  padding-top:120px;
}

.blur{
  background:url(profile.jpg) center/cover no-repeat;
}

.profile{
  width:160px;
  border-radius:50%;
  border:4px solid #38bdf8;
  animation:float 3s infinite;
}

@keyframes float{
  0%,100%{transform:translateY(0)}
  50%{transform:translateY(-15px)}
}

.hero span{color:#38bdf8}

/* BUTTON */
.btn{
  background:#38bdf8;
  padding:10px 20px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  margin:5px;
}

.outline{
  background:transparent;
  border:2px solid #38bdf8;
  color:#38bdf8;
}

/* SECTION */
.section{
  padding:100px 40px;
  text-align:center;
}

.cards{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
}

.card{
  background:rgba(255,255,255,.15);
  padding:20px;
  width:250px;
  border-radius:10px;
}

/* ADMIN */
.admin table{
  width:90%;
  margin:auto;
  border-collapse:collapse;
}

.admin th,.admin td{
  border:1px solid #38bdf8;
  background-color:brown;

  padding:10px;
}

/* ANIMATION */
.animate{
  opacity:0;
  transform:translateY(40px);
  transition:1s;
}

.animate.show{
  opacity:1;
  transform:translateY(0);
}

footer{text-align:center;padding:20px}
.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .socials img {
    width: 35px;
    transition: 0.3s;
    filter: drop-shadow(0 0 8px #38bdf8);
  }
  
  .socials img:hover {
    transform: scale(1.2) rotate(5deg);
  }
  